@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
font: 12px/1.5 Poppins, sans-serif;
}

body {
    padding: 2em;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

.container {
    max-width: 100em;
    margin: 0 auto;
}

.section-header {
    text-align: center;
    padding-bottom: 2em;
}

.section-header span {
    color: #819DAF;
}

.section-content {
    display: flex;
    gap: 1.5em;
}

.section-content article {
    flex:1 1 30%;
    color: #000;
    background: #819DAF;
}