* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font: 20px/1.5 Helvetica, sans-serif;
}
body {
    padding: 2em;
}


.container {
    display: flex;
    max-width: 15vw;
    height: 24rem;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 0.3em;
    
    
}

span {
    flex-grow: 0;
    padding: 0.5em;
    border: 1px solid black;
    text-align: center;
}

/* span:nth-child(7) {order:10;}
span:nth-child(10) {order:11;}
span:nth-child(11) {order:1;}
span:nth-child(1) {order:8;} 
thats the way if you want to order the letters.
*/

